* {
  transition: .4s ease 0s;
  box-sizing: border-box;
  white-space: normal;
  word-wrap: break-word;
}

body, html {
  @apply m-0 p-0 font-body text-black bg-white-off_white;
}

body {
  &.has-open-menu {
    @apply overflow-hidden;
  }

  &#error-page {
    @apply mt-0 max-w-full;
  }
}

img {
  @apply max-w-full;
}

a {
  @apply no-underline outline-0 cursor-pointer;
}

