@font-face {
    font-family: 'Seasons';
    src: url('../../fonts/Font-Regular.woff2') format('woff2'),
    url('../../fonts/Font-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

